/* scrollbar.css */

/* Estilize a barra de rolagem */
::-webkit-scrollbar {
	width: 10px;
}

/* Estilize o thumb (a parte arrastável da scrollbar) */
::-webkit-scrollbar-thumb {
	background-color: #b9b9b9;
	border-radius: 5px;
}

/* Estilize o track (a área em que o thumb se move) */
::-webkit-scrollbar-track {
	background-color: #f1f1f1;
	border-radius: 5px;
}
